@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-focus-visible:focus,
.custom-focus-visible:focus-visible {
  outline: none; /* Remove default outline */
  border: 2px dotted #7e22ce; /* Match hover border */
  margin: 0; /* Match hover margin */
}

.btn-custom-focus-visible:focus,
.btn-custom-focus-visible:focus-visible {
  outline: none; /* Remove default outline */
  background-color:  #7e22ce; /* Match hover border */
}

.image-transition {
  transition: opacity 0.2s ease-in-out;
}